@import url('./colors.css');
@import url('./fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border font-roboto;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer NavBar {
  .nav-container {
    @apply flex max-w-60 flex-col border px-2;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
/* HIDE ARROWS ON NUMBER INPUTS */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Remove textare resizable handler */
textarea {
  resize: none;
}
